body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://static01.nyt.com/images/2021/01/17/us/china-wuhan-coronavirus-maps-promo-1610933157013/china-wuhan-coronavirus-maps-promo-1610933157013-superJumbo-v1025.png');
}